.shop-category-component {
  position: relative;
  padding: 1em 2em; }
  @media (min-width: 769px) {
    .shop-category-component {
      padding: 2em 4em; } }

.shop-category-component-filter::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: brightness(40%);
          filter: brightness(40%); }

.shop-category-header {
  color: #222;
  font-family: "Helvetica Neue";
  font-weight: 900; }
  @media (min-width: 992px) {
    .shop-category-header {
      padding-left: 4em; } }
  @media (min-width: 769px) {
    .shop-category-header {
      padding-left: 2em; } }

.shop-category-header-text-color-other {
  color: #fff; }

.shop-category-label {
  font-family: "Helvetica Neue";
  font-size: 1rem;
  text-decoration: underline;
  padding: 0.375em 0.5em; }
  @media (min-width: 769px) {
    .shop-category-label {
      padding: 0.625em 1.5em; } }

.shop-category-label-a {
  color: #222 !important; }

.shop-category-label-a-color-other {
  color: #fff !important; }

