.category-thumbnail {
  border-radius: 50%; }

.popular-category {
  padding: 1em 0; }

.popular-categories {
  padding-right: 0;
  padding-left: 0; }

.image-cropper {
  width: 7em;
  height: 7em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto; }

header ~ #maincontent .container .popular-category-link {
  text-align: center; }
  header ~ #maincontent .container .popular-category-link a.popular-cat-link {
    color: #222;
    text-decoration: underline; }

.image-wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; }
  .image-wrapper span {
    height: 100%;
    width: 100%;
    display: block; }

