.shopthelook-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-right: 0.1em;
  padding-left: 0.1em; }

.product-info {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center; }

.shopthelook-figure-lg:hover .shopthelook-image {
  -webkit-filter: brightness(40%);
          filter: brightness(40%); }

.shopthelook-figure-lg:hover .product-info {
  display: block; }

.shopthelook-text {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  margin-top: 1em;
  border-color: #fff;
  border-radius: 0; }

.shopthelook-figure-sm .shopthelook-set-count {
  color: #000; }

.shopthelook-figure-lg .shopthelook-product-name .product-text-center {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }
  @media (min-width: 544px) {
    .shopthelook-figure-lg .shopthelook-product-name .product-text-center {
      color: #fff;
      font-weight: 900;
      font-size: 1.67rem; } }

.shopthelook-figure-lg .shopthelook-product-price .price {
  color: #fff; }

.shopthelook-figure-lg .shopthelook-set-count {
  color: #fff; }

