.look-book-layout .look-book-set1 .cell1 {
  padding-bottom: 15px; }

@media (min-width: 544px) {
  .look-book-layout .look-book-set1 .cell2 {
    padding-bottom: 15px; } }

.look-book-layout .show-more {
  text-align: center !important; }
  @media (min-width: 992px) {
    .look-book-layout .show-more {
      display: none; } }

@media (max-width: 543.98px) {
  .look-book-layout .look-book-set2 .cell4 {
    padding-top: 15px; } }

@media (max-width: 991.98px) {
  .look-book-layout .look-book-set2 {
    display: block; }
    .look-book-layout .look-book-set2 .cell4 {
      padding-bottom: 15px; } }

@media (max-width: 991.98px) {
  .look-book-layout .look-book-set2.hide-set {
    display: none; } }

