.page-designer-reference .experience-einstein-einsteinCarousel .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-prev,
.page-designer-reference .experience-einstein-einsteinCarousel .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-next,
.page-designer-reference .experience-einstein-einsteinCarouselProduct .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-prev,
.page-designer-reference .experience-einstein-einsteinCarouselProduct .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-next,
.page-designer-reference .experience-einstein-einsteinCarouselCategory .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-prev,
.page-designer-reference .experience-einstein-einsteinCarouselCategory .experience-einstein-einsteinCarousel.hide-indicators .carousel-control-next {
  display: none; }

.page-designer-reference .experience-einstein-einsteinCarousel .experience-einstein-einsteinCarousel.hide-indicators .pd-carousel-indicators,
.page-designer-reference .experience-einstein-einsteinCarouselProduct .experience-einstein-einsteinCarousel.hide-indicators .pd-carousel-indicators,
.page-designer-reference .experience-einstein-einsteinCarouselCategory .experience-einstein-einsteinCarousel.hide-indicators .pd-carousel-indicators {
  display: none; }

.page-designer-reference .experience-einstein-einsteinCarousel .experience-einstein-einsteinCarousel.hide-indicators .hidden-indicators-template,
.page-designer-reference .experience-einstein-einsteinCarouselProduct .experience-einstein-einsteinCarousel.hide-indicators .hidden-indicators-template,
.page-designer-reference .experience-einstein-einsteinCarouselCategory .experience-einstein-einsteinCarousel.hide-indicators .hidden-indicators-template {
  display: none; }

.page-designer-reference .experience-einstein-einsteinCarousel .experience-einstein-einsteinCarousel .hidden-indicators-template,
.page-designer-reference .experience-einstein-einsteinCarouselProduct .experience-einstein-einsteinCarousel .hidden-indicators-template,
.page-designer-reference .experience-einstein-einsteinCarouselCategory .experience-einstein-einsteinCarousel .hidden-indicators-template {
  display: none; }

