.sorry-hero {
  background-image: url("../images/storelocator.jpg");
  margin-bottom: 0.625em; }

.error-message {
  margin-bottom: 3.125rem; }

.error-page-content {
  margin-top: 3.125rem;
  margin-bottom: 6.25em; }

