.store-locator-container .btn-storelocator-search {
  background-color: #f9f9f9;
  border-color: #00a1e0;
  border-radius: 0;
  color: #00a1e0; }
  .store-locator-container .btn-storelocator-search:hover {
    background-color: #00a1e0;
    color: #f9f9f9; }

.store-locator-container .detect-location {
  margin-bottom: 1em; }

.store-locator-container .store-name {
  font-weight: 600; }

.store-locator-container .store-details {
  display: block; }
  @media (min-width: 769px) {
    .store-locator-container .store-details {
      margin-left: 3.125em; } }

.store-locator-container .striped > div:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.store-locator-container .search-form {
  width: 100%;
  margin-bottom: 4rem; }

@media (min-width: 544px) {
  .store-locator-container .select-store {
    margin-top: -3rem; } }

.store-locator-container .custom-radio .store-details {
  margin-left: 1.125em; }

.store-locator-container .store-locator-no-results {
  display: none; }

@media (min-width: 769px) {
  .store-locator-container .results {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 21.875em; } }

.map-marker {
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 0.375em;
  color: #fff;
  background-color: #7ed0ee;
  position: relative; }
  .map-marker::after {
    position: absolute;
    bottom: -0.625em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0.5em 0;
    border-color: #7ed0ee transparent transparent transparent; }

.gm-style-iw .store-details {
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5; }

.gm-style-iw a {
  color: #0070d2; }

.map-canvas {
  display: none; }
  @media (min-width: 544px) {
    .map-canvas {
      height: 28.125em;
      display: block; } }

.store-name {
  font-weight: 600; }

.store-details {
  display: block;
  margin-left: 3.125em; }

.store-locator-no-apiKey {
  display: none; }

.store-locator-no-results {
  display: none; }

.store-locator-hero {
  background-image: url("../images/storelocator.jpg");
  margin-bottom: 0.625em; }
  @media (min-width: 544px) {
    .store-locator-hero {
      display: none; } }

@media (min-width: 769px) {
  .results {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 21.875em;
    margin-right: -0.938em; } }

