.form-group.required .form-control-label::before {
  content: "*";
  color: #c00; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: #00a1e0;
  text-decoration: underline; }

.card-header > a {
  color: #00a1e0;
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-footer-border {
  border-top: 1px dashed #999; }

.card-make-default-link {
  margin-top: 1rem; }

.dashboard-cards-block-title {
  font-weight: bold; }

.dashboard-order-card-status {
  text-transform: capitalize; }

.dashboard-order-card-image {
  width: 7rem; }

.account-landing-ordercard {
  padding: 0;
  height: 1rem;
  margin-left: 1.25rem;
  border-bottom: 0 none;
  margin-top: 1rem; }
  .account-landing-ordercard h4 {
    font-size: 1.2rem; }

div.order-number {
  padding-top: 0.2rem; }

.dashboard-cards-block-title {
  margin-bottom: 1em; }

