.form-group.required .form-control-label::before {
  content: "*";
  color: #c00; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: #00a1e0;
  text-decoration: underline; }

.card-header > a {
  color: #00a1e0;
  float: left;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-left: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: left; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-body-positioning {
  position: relative; }

.card-make-default-link {
  margin-top: 0.625em;
  /* 10/16 */ }

.remove-btn {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3rem; }

.text-large-wrap {
  white-space: normal; }

