.page {
  background-color: #f9f9f9; }

.checkout-card-header {
  font-size: 1.25em;
  font-weight: 600; }

.grand-total-price {
  float: left;
  font-weight: 600; }

.grand-total-label {
  font-weight: 600; }

.grand-total {
  font-size: 1.125rem !important;
  font-weight: 600; }

.order-receipt-label {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.product-divider {
  margin-right: -0.625em;
  margin-left: -0.625em; }
  .product-divider hr {
    border-top: dashed 0.063em; }

.product-line-item + .product-line-item::before,
.multi-shipping + .product-line-item::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em; }
  @media (min-width: 992px) {
    .product-line-item + .product-line-item::before,
    .multi-shipping + .product-line-item::before {
      margin: 0.625em -1.225em; } }

.shipment-block + .shipment-block::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em; }
  @media (min-width: 992px) {
    .shipment-block + .shipment-block::before {
      margin: 0.625em -1.225em; } }

.shipping-method {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hero-confirmation {
  background-image: url("../../images/thankyou.jpg");
  background-position-y: -8.125em; }

.product-summary-block {
  margin: 1em 0; }
  .product-summary-block h3 {
    font-size: 1.25rem; }

.leading-lines {
  overflow: hidden;
  margin: 0; }
  .leading-lines label {
    background-color: white; }
  .leading-lines .start-lines {
    padding: 1px; }
    .leading-lines .start-lines span {
      position: relative;
      background-color: white;
      z-index: 2; }
    .leading-lines .start-lines::before {
      float: right;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      z-index: 1;
      color: #adadad; }
  .leading-lines .end-lines {
    padding: 1px; }
    .leading-lines .end-lines span {
      position: relative;
      background-color: white;
      z-index: 2; }

.summary-details {
  font-size: 0.938em;
  margin-bottom: 1em; }

.summary-details .address-summary {
  margin-bottom: 0.5em; }

.summary-section-label {
  font-size: 1em;
  font-weight: 600; }
  @media (min-width: 992px) {
    .summary-section-label {
      font-weight: 500; } }

.add-payment {
  margin-top: 1rem; }

.selected-payment {
  background-color: #e9ecef; }

.saved-security-code {
  margin-top: 1rem; }

.saved-credit-card-type {
  font-weight: 600; }

.saved-payment-information {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.payment-information {
  margin-bottom: 1rem; }

.checkout-hidden {
  display: none; }

.card-image {
  margin-top: 0.5rem;
  width: 100%; }

.cancel-new-payment {
  margin-top: 1rem; }

.form-check.start-lines {
  padding-right: 1.5rem; }

.multi-ship .single-shipping .shipping-content {
  display: none; }

.multi-ship .shipping-summary .single-shipping {
  display: none; }

.gift-message-block {
  padding-bottom: 1em;
  padding-top: 1em; }

.single-shipping .summary-section-label {
  margin-bottom: 0; }

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
  margin-bottom: 0; }

.multi-ship .confirm-details .single-shipping {
  display: none; }

.multi-shipping {
  display: none; }

.contact-info-block {
  border-bottom: 0.063em dashed #ccc; }

.view-address-block h3,
.shipping-method-block h3 {
  font-size: 1.25rem; }

.section-label {
  font-size: 0.875rem;
  font-weight: bolder; }

.my-account {
  text-align: center;
  margin-bottom: 0.938em; }

