.form-group.required .form-control-label::before {
  content: "*";
  color: #c00; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: #00a1e0;
  text-decoration: underline; }

.card-header > a {
  color: #00a1e0;
  float: left;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-left: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: left; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-number-wrapper {
  position: relative; }
  .card-number-wrapper::after {
    content: '';
    position: absolute;
    left: 3px;
    background-repeat: no-repeat;
    background-image: url("../../images/credit.png");
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 5px; }
  .card-number-wrapper[data-type="visa"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -162px -110px; }
  .card-number-wrapper[data-type="mastercard"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -295px -110px; }
  .card-number-wrapper[data-type="amex"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -230px -15px; }
  .card-number-wrapper[data-type="discover"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -95px -110px; }

.back-to-account-link {
  margin-bottom: 0; }

.card-body-positioning {
  position: relative; }

.make-default-payment {
  margin-bottom: 1rem; }

.masked-card-number {
  margin-top: 1rem; }

.payment-to-remove {
  font-weight: bold; }

.remove-btn {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3rem; }

